<?xml version="1.0" encoding="UTF-8"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Megamenu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <preference for="Boolfly\Megamenu\Api\Data\MenuInterface" type="Boolfly\Megamenu\Model\Menu"/>
    <preference for="Boolfly\Megamenu\Api\Data\ItemInterface" type="Boolfly\Megamenu\Model\Menu\Item"/>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="boolfly_megamenu_listing_data_source" xsi:type="string">Boolfly\Megamenu\Model\ResourceModel\Menu\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="Boolfly\Megamenu\Model\ResourceModel\Menu\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">boolfly_megamenu</argument>
            <argument name="eventPrefix" xsi:type="string">megamenu_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">menu_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">Boolfly\Megamenu\Model\ResourceModel\Menu</argument>
        </arguments>
    </type>
</config>
