<?xml version="1.0" encoding="UTF-8"?>
<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Megamenu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="bf_megamenu_listing_data_source" xsi:type="string">BoolflyMegamenuGridCollection</item>
            </argument>
        </arguments>
    </type>
    <virtualType name="BoolflyMegamenuGridCollection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
        <arguments>
            <argument name="mainTable" xsi:type="string">bf_megamenu</argument>
            <argument name="resourceModel" xsi:type="string">Boolfly\Megamenu\Model\ResourceModel\Menu</argument>
        </arguments>
    </virtualType>
</config>
