<!--
 /************************************************************
 * *
 *  * Copyright © Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Mega Menu
 */
-->
<span class="actions">
    <button type="button"
            data-bind="attr: {'data-index': index},
            click: $data.editMenuItem.bind($data)"
            class="action-edit">
    </button>
    <button class="action-delete" data-bind="
            click: $data.deleteMenuItem.bind($data, $record().index, $record().recordId),
            attr: {
                title: $parent.deleteButtonLabel,
                'data-action': 'remove_row'
            }">
        <span data-bind="i18n: $parent.deleteButtonLabel"></span>
    </button>
</span>