<?xml version="1.0" encoding="UTF-8"?>
<!--
 /************************************************************
 * *
 *  * Copyright © 2019 Boolfly. All rights reserved.
 *  * See COPYING.txt for license details.
 *  *
 *  * @author    info@boolfly.com
 * *  @project   Megamenu
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Boolfly_Megamenu::manager" title="Manage Mega Menu" module="Boolfly_Megamenu" resource="Boolfly_Megamenu::manager" parent="Magento_Backend::content" sortOrder="150"/>
        <add id="Boolfly_Megamenu::add_new" title="Add New Menu" module="Boolfly_Megamenu" action="megamenu/menu/new" resource="Boolfly_Megamenu::add_new" parent="Boolfly_Megamenu::manager" sortOrder="20"/>
        <add id="Boolfly_Megamenu::menu" title="Manager Menu" module="Boolfly_Megamenu" action="megamenu/menu/index" resource="Boolfly_Megamenu::menu" parent="Boolfly_Megamenu::manager" sortOrder="30"/>
    </menu>
</config>
